# Gray color for autosuggestions
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=247'

export WORKSPACES=$HOME/Workspaces

source $HOME/.zsh/plugins

source $HOME/.zsh/aliases
source $HOME/.zsh/bindkey
source $HOME/.zsh/flaker
source $HOME/.zsh/fzf
source $HOME/.zsh/homebrew

fpath=( ~/.zsh-completions $fpath )

source $WORKSPACES/dotfiles.secret/shrc
