# Gray color for autosuggestions
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=247'

source $HOME/.zsh/plugins

source $HOME/.zsh/aliases
source $HOME/.zsh/bindkey
source $HOME/.zsh/flaker
source $HOME/.zsh/fzf
source $HOME/.zsh/homebrew

source $HOME/Development/dotfiles.secret/shrc
