export PATH="$HOME/Development/dotfiles/bin:$PATH"
export DOTFILES=$HOME/Development/dotfiles

# Load custom completions
# Reload on-my-zsh to deal with compinit issues
# source: https://github.com/zsh-users/zsh-completions/issues/277#issuecomment-72253611
fpath=($HOME/.zsh-completions $fpath)

# homebrew shell completions
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi

export PATH="/usr/local/opt/postgresql@15/bin:$PATH"

if command -v ngrok &>/dev/null; then
  eval "$(ngrok completion)"
fi

source $ZSH/oh-my-zsh.sh

source $DOTFILES/zsh/aliases
source $DOTFILES/zsh/flaker

[ -z "$EDITOR" ] && export EDITOR=vim

# https://github.com/junegunn/fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source $DOTFILES/zsh/fzf

source $HOME/Development/dotfiles.secret/shrc
