bundle/ack
bundle/ctrlp.vim
bundle/match-it
bundle/tslime.vim
bundle/vim-bundler
bundle/vim-clojure
bundle/vim-coffee-script
bundle/vim-colors-solarized
bundle/vim-cucumber
bundle/vim-endwise
bundle/vim-fugitive
bundle/vim-gitgutter
bundle/vim-haml
bundle/vim-markdown
bundle/vim-ragtag
bundle/vim-rails
bundle/vim-repeat
bundle/vim-rooter
bundle/vim-ruby-refactoring
bundle/vim-smartinput
bundle/vim-snipmate
bundle/vim-surrond
bundle/vim-turbux
bundle/vim-unimpaired
bundle/vim-vitality
plugin/tabular

bundle/tcomment

bundle/vim-elixir

bundle/vim-ruby-xmpfilter

bundle/vim-rubocop
