bundle/vim-rooter
bundle/vim-makegreen
bundle/ack
bundle/vim-rails
bundle/vim-snipmate
bundle/tcomment
bundle/vim-git
bundle/vim-haml
bundle/vim-surrond
bundle/vim-ragtag
bundle/vim-endwise
bundle/vim-cucumber
vim-fugitive/vim-fugitive
bundle/vim-ruby-refactoring
bundle/vim-fugitive
bundle/match-it
bundle/tabular
plugin/tabular
bundle/vim-unimpaired
bundle/vim-coffee-script
bundle/vim-colors-solarized

bundle/vim-zencoding

bundle/tslime.vim

bundle/vim-turbux

bundle/vim-vitality

bundle/vim-smartquotes
